<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stropi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BD1923A1D9C242D0096B93D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD192531D9C242D0096B93D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD1925E1D9C242D0096B93D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
